:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.router-container {
  flex: 1;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background: #dcddde;
  margin-top: 60px;
}
