<div id="hds-header" class="header">
  <div class="toolbar">
    <div class="toolbar-left">
      {{ isViewChart ? "Health Data Snapshot" : "Data View" }}
    </div>

    <div class="toolbar-center">
      <button (click)="changeView()">
        {{ isViewChart ? "View Data" : "View Chart" }}
      </button>
      <button (click)="refresh()">Refresh</button>
    </div>

    <div>
      <div class="d-flex">
        <span
          class="material-symbols-outlined hover-cusror btn-next-prev"
          (click)="pickDate(8)"
        >
          chevron_left
        </span>
        <div class="toolbar-right">
          <button class="date-btn">{{ textBtnPickDate }}</button>
          <!-- dropdown menu -->
          <div class="dropdown">
            <ul>
              <li (click)="pickDate(1)">TODAY</li>
              <li (click)="pickDate(2)">THIS WEEK</li>
              <li (click)="pickDate(3)">THIS MONTH</li>
              <li (click)="pickDate(4)">LAST 30 DAYS</li>
              <li (click)="pickDate(5)">THIS YEAR</li>
              <li (click)="picker.open()">CUSTOM RANGE</li>
            </ul>
          </div>
        </div>
        @if(isDisableBtnNext){
        <span class="material-symbols-outlined btn-next-prev disabled">
          chevron_right
        </span>
        } @else {
        <span
          class="material-symbols-outlined hover-cusror btn-next-prev"
          (click)="pickDate(7)"
        >
          chevron_right
        </span>
        }
      </div>
    </div>
  </div>
  <!-- Date range picker -->
  <mat-date-range-input
    [rangePicker]="picker"
    [formGroup]="range"
    [dateFilter]="disableFutureDates"
  >
    <input
      class="visually-hidden"
      matStartDate
      formControlName="start"
      placeholder="From date"
    />
    <input
      class="visually-hidden"
      matEndDate
      formControlName="end"
      placeholder="To date"
    />
  </mat-date-range-input>
  <mat-date-range-picker #picker></mat-date-range-picker>
</div>
<div id="wrapper-hds">
  <div *ngIf="!isViewChart">
    <hds-data-view
      [getNameAccount]="getNameAccount"
      [user]="user"
      [charts]="charts"
      [fncDetailChart]="fncDetailChart"
    ></hds-data-view>
  </div>
  <div *ngIf="isViewChart">
    <div class="row">
      <div class="col-sm-4 div-snapshot">
        <div class="user-card md-card">
          <div class="d-flex div-user">
            <img
              class="img-avata"
              src="/assets/images/patient_default_photo.svg"
            />
            <div class="clearfix u-info">
              <p class="title">{{ getNameAccount() }}</p>
              <p class="date">{{ user.email }}</p>
              <p class="date ng-hide"></p>
            </div>
          </div>
          <div class="pad20 pab0 padt0 ng-scope" style="cursor: pointer">
            <div
              class="bottom-card layout-align-space-between-center layout-row"
              layout="row"
              layout-align="space-between center"
              style="cursor: pointer"
            >
              <div class="snap-view" style="cursor: pointer">
                <button
                  class="md-button md-ink-rippl btn-recent"
                  type="button"
                  style="cursor: pointer"
                >
                  <span class="ng-scope" style="cursor: pointer"
                    ><span class="md-caption" style="cursor: pointer"
                      >View Recent Activity ></span
                    ></span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          @for (item of dataSnapshots; track item.id) {
          <div class="col-sm-4 div-snapshot">
            <div class="pad20 pab0 md-card" style="cursor: pointer">
              <div class="row-top" style="cursor: pointer">
                <div class="img-card">
                  <img src="{{ item.src }}" />
                </div>
                <div class="align-right" style="cursor: pointer">
                  <p class="p-title-snapshot" style="cursor: pointer">
                    {{
                      (item.id == "BMI" ? "Body Mass Index" : item.id)
                        | uppercase
                    }}
                  </p>
                  <p class="s26 ng-scope" style="cursor: pointer">
                    <span class="card-value-data" style="cursor: pointer">{{
                      item.value
                    }}</span>
                    <span class="unit">{{ showUnit(item.id, item.unit) }}</span>
                  </p>
                </div>
              </div>
              <div
                *ngIf="item.sync_date_utc"
                class="bottom-card layout-align-space-between-center layout-row"
                layout="row"
                layout-align="space-between center"
                style="cursor: pointer"
              >
                <div
                  class="time-snap"
                  md-labeled-by-tooltip="md-tooltip-131"
                  style="cursor: pointer"
                >
                  <i class="material-icons">sync</i>
                  <span class="last-sync-time" style="cursor: pointer"
                    >Last synced on
                    {{ getStringTimeSync(item.sync_date_utc) }}</span
                  >
                </div>
                <div class="snap-view" style="cursor: pointer">
                  <button
                    class="md-button ng-scope md-ink-ripple"
                    type="button"
                    style="cursor: pointer"
                  >
                    <span class="ng-scope"></span>
                    <span
                      class="md-caption"
                      (click)="fncDetailChart(item.id, true)"
                      style="cursor: pointer"
                      >View Data ></span
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <ng-container *ngIf="isBrowser">
      @if(chartDetail !== null) {
      <div id="wrapper-hds-detail" class="hover-cusror">
        <img
          src="/assets/images/ic-close-LB.svg"
          class="img-icon-close"
          (click)="closeDetail()"
        />
        <hds-detail
          [chartDetail]="chartDetail"
          [changeViewDetail]="changeViewDetail"
          [group_type]="params.group_type"
          [breadcrumbs]="breadcrumbs"
          [labels]="labels"
        ></hds-detail>
      </div>

      } @else { @for (group of chunkedSampleTypes; track $index) {
      <div class="row row-chart">
        @for (item of group; track $index) {
        <div class="col-sm-4 d-item-chart">
          <div class="md-card">
            <div class="d-flex div-title-chart">
              <div class="d-flex">
                <img
                  class="img-icon"
                  src="/assets/images/icon-sample-type/{{ item.iconChart }}"
                />
                <h4 class="title-chart">{{ item.name }}</h4>
              </div>
              <div class="content-r ng-scope">
                <span
                  class="tool-r layout-align-space-between-center layout-row"
                  layout="row"
                  layout-align="space-between center"
                >
                  @if (item?.min_max) {
                  <span class="s24 min-max">{{ item?.min_max }}</span>
                  } @else if (item?.avg) {
                  <span class="card-hd-text">avg</span>
                  <span class="s24 avg">{{ item?.avg }}</span>

                  }
                  <span class="unit">{{
                    showUnit(item?.sample_type, item.items[0].primary_unit)
                  }}</span>
                </span>
              </div>
            </div>
            <div class="wrapper-chart">
              @if (checkHasItemInChart(item.dataCharts[0]?.data)) {
              <div class="div-wrapper-chart">
                <canvas
                  baseChart
                  [data]="{ labels: labels, datasets: item.dataCharts }"
                  [options]="item.chartOptions"
                  [type]="item.chartType"
                  style="display: block; height: 300px; width: 100%"
                ></canvas>
              </div>
              } @else {
              <p>No data available for selected period</p>
              }
            </div>
            <div class="d-bottom-chart">
              @if (checkHasItemInChart(item.dataCharts[0]?.data)) {
              <div class="d-flex view">
                <div class="time-snap">
                  <i class="material-icons">sync</i>
                  <span class="last-sync-time" style="cursor: pointer"
                    >Last synced on Aug 08, 2025 08:58:47</span
                  >
                </div>
                <div class="snap-view" style="cursor: pointer">
                  <button
                    class="md-button ng-scope md-ink-ripple"
                    type="button"
                    style="cursor: pointer"
                  >
                    <span class="ng-scope">
                      <span
                        class="md-caption"
                        (click)="fncDetailChart(item)"
                        style="cursor: pointer"
                        >View Data ></span
                      >
                    </span>
                  </button>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
        }
      </div>
      } }
    </ng-container>
  </div>
</div>
