#footer {
  background: #d10000;
  padding: 15px 0 14px 0;
}
#footer-copyright {
  text-align: center;
  color: #fff;
  a {
    color: #fff;
  }
  a:hover {
    color: #000;
    font-weight: bold;
  }
}
