<div id="footer">
  <div class="ft-left">
    <div class="wsite-elements">
      <div class="paragraph footer-copyright-customize" id="footer-copyright">
        <span class="customize-privacy-terms" style="font-size: 14px">
          <a
            href="https://www.mymasimo.com/documentation/masimo-safetynet/privacy/"
            class="ga-link"
            target="_blank"
            title="Privacy Policy - Opens in new window"
            >Privacy Policy</a
          >
          &nbsp;|&nbsp;
          <a
            href="https://www.mymasimo.com/documentation/masimo-safetynet/terms/row/"
            class="ga-link"
            target="_blank"
            title="Terms of Use - Opens in new window"
            >Terms of Use</a
          >
        </span>
        <div class="clearfix" style="padding-top: 10px"></div>
        <span class="customize-allright"
          >© 2025 PTV. All Rights Reserved. <br />All other trademarks or
          content are property of their respective owners. <br />Version
          V1.4.0.5-034</span
        >
      </div>
    </div>
  </div>
</div>
