html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.login-background {
  background: url("/assets/images/bg-login.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}
.error-snackbar {
  background-color: #f44336;
  color: white;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}
.mat-mdc-button-base:hover {
  background: none !important;
  --mat-button-text-state-layer-color: transparent !important;
}

.mat-datepicker-content {
  position: fixed;
  right: 0px;
  background: #fff !important;
  top: 105px;
}
.mat-date-range-input-separator {
  display: none !important;
}

.hover-cusror:hover {
  cursor: pointer;
}
