<div id="wrapper-chart-detail">
  <div class="d-top d-flex justify-content-between">
    <div class="breadcrumb d-flex">
      @for (item of breadcrumbs; track $index) { @if ($index > 0) {
      <p class="p-arrow">></p>
      } @if ($index < breadcrumbs.length-1) {
      <p class="hover-pointer" (click)="changeViewInBreadcrumb(item, $index)">
        {{ getNameBreadcrumb(item) }}
      </p>
      }@else {
      <p>
        {{ getNameBreadcrumb(item) }}
      </p>
      } }
    </div>
    <div class="d-flex">
      <img
        class="img-icon"
        src="/assets/images/icon-sample-type/{{ chartDetail.iconChart }}"
      />
      <h4 class="title-chart">{{ chartDetail.name }}</h4>
    </div>
    <div class="header-title-chart ng-scope d-flex justify-content-between">
      <!-- <p class="latest-value ng-scope" style="color: #29bda8">
        <span class="card-hd-text transform-capitalize" style="color: #29bda8"
          >Latest</span
        >
        <span class="s24">90</span
        ><span class="unit" style="color: #29bda8">bpm</span>
      </p> -->
      <p>
        <span class="card-hd-text">{{
          chartDetail.items[0].snapshot_value_type
        }}</span>
        <span class="s24">{{ getValueAvg() }}</span>
        <span class="md-body-2 gray-color">{{
          chartDetail.items[0].primary_unit
        }}</span>
      </p>
    </div>
  </div>
  <div style="display: block; width: 100%; height: 410px">
    <canvas
      baseChart
      [data]="{ labels: labels, datasets: chartDetail.dataCharts }"
      [options]="chartDetail.chartOptions"
      [type]="chartDetail.chartType"
      style="display: block; width: 100%; height: 410px"
    ></canvas>
  </div>
  <div id="div-table">
    <table
      mat-table
      *ngIf="!isLoading"
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 table-dashboard"
    >
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ columnNames[0] }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ formatValueChart(element.value) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ columnNames[1] }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ Utils.getDateString(element.date, "MM dd, yyyy") }}
        </td>
      </ng-container>
      <ng-container matColumnDef="type" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ columnNames[2] }}
        </th>
        @if(groupType === 'seconds') {
        <td mat-cell *matCellDef="let element" class="text-center">
          Masimo SafetyNet
        </td>
        } @else {
        <td
          mat-cell
          *matCellDef="let element"
          class="text-center"
          (click)="callChangeView(element)"
        >
          <img
            src="/assets/images/Icon_View_512x512-01-demo.svg"
            class="img-icon-arrow"
          />
        </td>
        }
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <div class="d-flex justify-content-end" *ngIf="!isLoading">
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
